{% extends 'base.html' %}

{%block body%}

<h2> {{the_title}}</h2>

<form method="post" action ='/cadastro/'>

<table>
<p> Use this form to submit a search requests</p>

<tr><td>Nome:</td><td><input name = 'nome' type = 'text' width="60"></td></tr>
<tr><td>Sexo:</td><td><input name = 'sexo' type = 'text' width="60"></td></tr>
<tr><td>Altura:</td><td><input name = 'altura' type = 'text' width="60"></td></tr>
<tr><td>Nacionalidade:</td><td><input name = 'nacionalidade' type = 'text' width="60"></td></tr>

</table>
<p>When you1re ready, click this button:</p>
<p><input value ='Do it' type="submit"></p>

</form>

{%endblock%}